.status-head {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.driver {
    display: flex;
}

.driver > :not(:first-child) {
    margin-left: 1rem;
}

.contact {
    display: flex;
    justify-content: space-between;
}
