
.littleSearchWrapper {
    width: 339px;
    height: 75px;
    margin-top: 27px;
    background-color: #EDEDED;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding-left: 70px;
    font-size: 20px;
}

.extendedSearchWrapper {
    width: 339px;
    height: 55px;
    /* margin-top: 27px; */
    /* background-color: #D8F2FE; */
    border-color: #253B45;
    border-style: solid;
    border-width: 1px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 70px;
    font-size: 20px;
    /* margin-bottom: 30px; */
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.searchIcon {
    position: relative;
    bottom: 50px;
    right: 130px;
}
.searchIconExtended {
    position: relative;
    bottom: 40px;
    right: 142px;
}

/* input.form-control {
    position: relative;
    font-weight: bold;
    padding: 10px 10px;
    background-color: #ffffff;
    border: none;
    top: -10px;
    color: black;
    z-index: 3;
} */

.searches {
    margin-top: 20px;
    /* margin-bottom: 20px; */
    /* height: 100px; */
    /* width: 100px; */
}
.searchesWrapper {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.form-control.form-control-starting {
    border: 1px solid #d6d6d6;
    margin-bottom: 8px;
}
.form-control.form-control-destination {
    border: 1px solid #42BFFB;
}

input.form-control::placeholder {
    color: rgb(98, 98, 98)
}

input.form-control:focus,
input {
    outline: none;
    box-shadow: none;
}

.current-location {
    margin-top: 30px;
    font-weight: bold;
    background-color: #EDEDED;
    border: none;
    display: flex;
    width: 339px;
    align-items: center;
    padding: 15px 15px 24px;
    color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 2;
}

#location-logo {
    position: relative;
    top: 2px;
    margin-right: 1rem;
    width: 20px;
    height: 20px;
    background-color: #253B45;
    border-radius: 50%;
}

#location-text {
    margin-top: 3px;
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
    margin-left: 5px;
}